<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head",{title: "Crear Producto" }) %>

    <body>
        <%- include ("../partials/header") %>
            <main class="crear">
                <a class="direct-lista" href="/admin/lista">
                    <button type="button" id="boton" class="btn btn-primary">Lista de productos</button>
                </a>
                <a class="direct-lista-flecha" href="/admin/lista">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                <h2>Crear Producto</h2>

                <section>
                    <form id="formulario" action="/admin/crear" method="post" enctype="multipart/form-data">
                        <section class="cajita">
                            <section>
                                <article class="articulo1">
                                    <div class="caja1">

                                        <div class="mb-3">
                                            <label for="marcas" class="form-label">MARCAS</label>
                                            <select class="form-select" id="marcas" name="marcas"
                                                aria-label="select example">
                                                <% if (locals.errors && old.marcas) { %>
                                                    <option hidden value="">Selecciona una opcion</option>
                                                    <% marcas.forEach(marcas=> { %>
                                                        <% if (marcas.id==old.marcas) { %>
                                                            <option value="<%= marcas.id %>" selected>
                                                                <%= marcas.nombre %>
                                                            </option>
                                                            <% } %>
                                                                <option value="<%= marcas.id %>">
                                                                    <%= marcas.nombre %>
                                                                </option>
                                                                <% }) %>
                                                                    <% }else{ %>
                                                                        <option selected hidden value="">Selecciona una
                                                                            opcion</option>
                                                                        <% marcas.forEach(marca=> { %>
                                                                            <option value="<%= marca.id %>">
                                                                                <%= marca.nombre %>
                                                                            </option>
                                                                            <% }) %>
                                                                                <% } %>

                                            </select>
                                            <p class="error" id="marcaError">
                                                <%= locals.errors && errors.marcas ? errors.marcas.msg : null %>
                                            </p>
                                        </div>
                                        <div class="mb-3" id="contenedores">
                                            <label for="titulo" class="form-label">titulo</label>
                                            <input type="text" name="titulo" class="form-control" id="titulo"
                                                value="<%= locals.old && old.titulo ? old.titulo : null%>"
                                                placeholder="Ingrese marca del producto">
                                            <p class="error" id="tituloError">
                                                <%= locals.errors && errors.titulo ? errors.titulo.msg : null %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="caja2">
                                        <div class="mb-3" id="contenedores">
                                            <label for="precio" class="form-label">precio</label>
                                            <input type="number" name="precio" class="form-control"
                                                value="<%= locals.old && old.precio ? old.precio : null%>" id="precio"
                                                placeholder="Ingrese precio del producto">
                                            <p class="error" id="precioError">
                                                <%= locals.errors && errors.precio ? errors.precio.msg : null %>
                                            </p>
                                        </div>
                                        <div class="mb-3" id="contenedores">
                                            <label for="descuento" class="form-label">descuento</label>
                                            <input type="number" name="descuento" class="form-control" id="descuento"
                                                value="<%= locals.old && old.descuento ? old.descuento : null%>"
                                                placeholder="Ingrese su descuento">
                                            <p class="error" id="descuentoError">
                                                <%= locals.errors && errors.descuento ? errors.descuento.msg : null %>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                                <article class="articulo2">
                                    <div class="caja33" id="desaparecer">
                                        <div class="mb-3" id="descripcion">
                                            <label for="descripcion" class="form-label">Descripcion</label>

                                            <textarea
                                                value="<%= locals.old && old.descripcion ? old.descripcion : null%>"
                                                name="descripcion" id="descripcion" cols="1" rows="6"
                                                class="form-control" placeholder="Ingrese descripcion"
                                                style="resize: none;"><%= locals.old && old.descripcion ? old.descripcion : null%></textarea>
                                            <p class="error" id="descripcionError">
                                                <%= locals.errors && errors.descripcion ? errors.descripcion.msg : null
                                                    %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="caja3">
                                        <div class="mb-3" id="contenedores">
                                            <label for="stock" class="form-label">stock</label>
                                            <input type="number" name="stock" class="form-control" id="stock"
                                                value="<%= locals.old && old.stock ? old.stock : null%>"
                                                placeholder="stock disponible">
                                            <p class="error" id="stockError">
                                                <%= locals.errors && errors.stock ? errors.stock.msg : null %>
                                            </p>
                                        </div>

                                        <div class="mb-3" id="contenedores">
                                            <label for="categorias" class="form-label">categorias</label>
                                            <select class="form-select" name="categorias" id="categorias"
                                                aria-label="select example">
                                                <% if (locals.errors && old.categorias) { %>
                                                    <option hidden value="">Selecciona una opcion</option>
                                                    <% categorias.forEach(categorias=> { %>
                                                        <% if (categorias.id==old.categorias) { %>
                                                            <option value="<%= categorias.id %>" selected>
                                                                <%= categorias.nombre %>
                                                            </option>
                                                            <% } %>
                                                                <option value="<%= categorias.id %>">
                                                                    <%= categorias.nombre %>
                                                                </option>
                                                                <% }) %>
                                                                    <% }else{ %>
                                                                        <option selected hidden value="">Selecciona una
                                                                            opcion</option>
                                                                        <% categorias.forEach(categoria=> { %>
                                                                            <option value="<%= categoria.id %>">
                                                                                <%= categoria.nombre %>
                                                                            </option>
                                                                            <% }) %>
                                                                                <% } %>
                                            </select>
                                            <p class="error" id="categoriaError">
                                                <%= locals.errors && errors.categorias ? errors.categorias.msg : null %>
                                            </p>
                                        </div>
                                    </div>
                                    </div>

                                </article>

                            </section>

                            <section class="section-imagenes">

                                <div class="divisor-label"> 
                                <label class="mb-3" for="imagen">
                                    <label for="imagen" class="form-label">imagen 1</label>
                                    <input type="file" class="form-control" id="imagen" name="imagen"
                                        aria-label="file example">
                                        <img  style="background-image:url('/images/Color-negro.jpg')" id="img-preview" alt="" class="img-crear">
                                    <p class="error" id="imagenError">
                                        <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                                    </p>
                                </label>
                                <label class="mb-3" for="imagen2">
                                    <label for="imagen2" class="form-label">imagen 2</label>
                                    <input type="file" class="form-control" id="imagen2" name="imagen"
                                        aria-label="file example">
                                        <img style="background-image:url('/images/Color-negro.jpg')" id="sub-img-preview-1" alt="" class="img-crear">
                                    <p class="error" id="imagenError2">
                                        <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                                    </p>
                                </label> 
                                </div>
                                <div class="divisor-label"> 
                                <label class="mb-3" for="imagen3">
                                    <label for="imagen3" class="form-label">imagen 3</label>
                                    <input type="file" class="form-control" id="imagen3" name="imagen"
                                        aria-label="file example">
                                        <img style="background-image:url('/images/Color-negro.jpg')" id="sub-img-preview-2" alt="" class="img-crear">
                                    <p class="error" id="imagenError3">
                                        <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                                    </p>
                                </label>
                                <label class="mb-3" for="imagen4">
                                    <label for="imagen4" class="form-label">imagen 4</label>
                                    <input type="file" class="form-control" id="imagen4" name="imagen"
                                        aria-label="file example">
                                        <img style="background-image:url('/images/Color-negro.jpg')" id="sub-img-preview-3" alt="" class="img-crear">
                                    <p class="error" id="imagenError4">
                                        <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                                    </p>
                                </label>
                                </div>
                            </section>
                        </section>
                            


                            <div class="botones">
                                <div class="boton">
                                <button class="btn btn-primary" id='#btn-submit' type="submit">Confirma</button>
                            </div>
                            <div class="boton">
                                <button class="btn btn-secundary" type="reset"><a
                                        href="/admin/lista">Cancelar</a></button>
                                    </div>
                            </div>

                    </form>
                
            </main>
            <script src="/javascript/validacionProductos.js"></script>
            <script src="/javascript/imagenes.js"></script>
    </body>

</html>