<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head",{title: "Crear Producto"}) %>
<body class="crear">
    <%- include ("../partials/header") %> 
    <main>
        <h2>Crear Producto</h2>
        <a class="direct-lista" href="lista">
            <button type="button" class="btn btn-primary">Lista de productos</button>
        </a>
        <section>
            <form action="/admin/crear" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="marcas" class="form-label">MARCAS</label>
                <select class="form-select" id="marcas" name="marcas" aria-label="select example">
                    <% if (locals.errors && old.marcas) { %>
                        <option hidden value="">Selecciona una opcion</option>
                        <% marcas.forEach(marcas => { %>
                            <% if (marcas.id == old.marcas) { %>
                                <option value="<%= marcas.id %>" selected><%= marcas.nombre %></option>
                            <% } %>
                            <option value="<%= marcas.id %>"><%= marcas.nombre %></option>
                        <% }) %>
                    <% }else{ %>
                        <option selected hidden value="">Selecciona una opcion</option>
                                    <% marcas.forEach(marca => { %>
                                        <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                    <% }) %>
                    <% } %>
                    
                </select>
                <p class="error" id="marcaError">
                    <%= locals.errors && errors.marcas ? errors.marcas.msg : null %>
                </p>
            </div> 
                <div class="mb-3">
                    <label for="titulo" class="form-label">titulo</label>
                    <input type="text" name="titulo" class="form-control" id="titulo" value="<%= locals.old && old.titulo ? old.titulo : null%>" placeholder="Ingrese marca del producto">
                    <p class="error" id="tituloError">
                        <%= locals.errors && errors.titulo ? errors.titulo.msg : null %>
                    </p>
                </div> 
                

                <div class="mb-3">
                    <label for="categorias" class="form-label">categorias</label>
                    <select class="form-select" name="categorias" id="categorias" aria-label="select example">
                        <% if (locals.errors && old.categorias) { %>
                        <option hidden value="">Selecciona una opcion</option>
                        <% categorias.forEach(categorias => { %>
                            <% if (categorias.id == old.categorias) { %>
                                <option value="<%= categorias.id %>" selected><%= categorias.nombre %></option>
                            <% } %>
                            <option value="<%= categorias.id %>"><%= categorias.nombre %></option>
                        <% }) %>
                    <% }else{ %>
                        <option selected hidden value="">Selecciona una opcion</option>
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                        <% }) %>
                        <% } %> 
                    </select>
                    <p class="error" id="categoriaError">
                        <%= locals.errors && errors.categorias ? errors.categorias.msg : null %>
                    </p>
                </div>  

                <div class="mb-3">
                    <label for="precio" class="form-label">precio</label>
                    <input type="number" name="precio" class="form-control" value="<%= locals.old && old.precio ? old.precio : null%>" id="precio" placeholder="Ingrese precio del producto">
                    <p class="error" id="precioError">
                        <%= locals.errors && errors.precio ? errors.precio.msg : null %>
                    </p>
                </div>   
                <div class="mb-3">
                    <label for="descuento" class="form-label">descuento</label>
                    <input type="number" name="descuento" class="form-control" id="descuento" value="<%= locals.old && old.descuento ? old.descuento : null%>" placeholder="Ingrese su descuento">
                    <p class="error" id="descuentoError">
                        <%= locals.errors && errors.descuento ? errors.descuento.msg : null %>
                    </p>
                </div>   
                <div class="mb-3">
                    <label for="descripcion" class="form-label">descripcion</label>
                    <input type="text" name="descripcion" class="form-control" id="descripcion" value="<%= locals.old && old.descripcion ? old.descripcion : null%>" placeholder="Ingrese descripcion">
                    <p class="error" id="descripcionError">
                        <%= locals.errors && errors.descripcion ? errors.descripcion.msg : null %>
                    </p>
                </div>   
                <div class="mb-3">
                    <label for="stock" class="form-label">stock</label>
                    <input type="number" name="stock" class="form-control" id="stock" value="<%= locals.old && old.stock ? old.stock : null%>" placeholder="stock disponible">
                    <p class="error" id="stockError">
                        <%= locals.errors && errors.stock ? errors.stock.msg : null %>
                    </p>
                </div>
                <div class="mb-3">
                <label for="imagenes" class="form-label">imagenes</label>
                <input type="file" class="form-control" id="imagen" name="imagen" aria-label="file example"  multiple>
                <p class="error" id="imagen">
                    <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                </p>
                </div>
                <div class="botones">
                <button class="btn btn-primary" type="submit">Confirma</button>
                <button class="btn btn-secundary" type="reset"><a  href="/admin/lista">Cancelar</a></button>
                </div>
            </form>
        </section>
    </main>    
    <script src="../javascript/validacionProdcutos.js"></script>
</body>
</html>