<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head",{title: "Editar Producto"}) %>
<body class="crear">
    <%- include ("../partials/header") %> 
    <main>
        <h2>Modificar Producto</h2>
        <a class="direct-lista" href="../lista">
            <button type="submit" class="btn btn-primary">Lista de productos</button>
        </a>
        <section>
            <form action="/admin/editar/<%= producto.id %>?_method=put" method="post">
                <div class="mb-3">
                    <label for="marcas" class="form-label">MARCAS</label>
                <select class="form-select" name="marca" aria-label="select example">
                       
                    <option selected hidden value="">Selecciona una opcion</option>
                                    <% marcas.forEach(marca => { %>
                                        <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                    <% }) %>
                </select>
            </div> 
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="formGroupExampleInput2" placeholder="Ingrese marca del producto" value="<%= producto.titulo %> ">
                </div>   
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Precio</label>
                    <input type="text" class="form-control" name="precio" id="formGroupExampleInput2" placeholder="Ingrese precio del producto" value="<%= producto.precio %>">
                </div>   
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Descuento</label>
                    <input type="text" class="form-control" name="descuento" id="formGroupExampleInput2" placeholder="Ingrese su descuento" value="<%= producto.descuento %>">
                </div>   
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="formGroupExampleInput2" placeholder="Ingrese descripcion" value="<%= producto.descripcion %>">
                </div>   
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Stock</label>
                    <input type="text" class="form-control" name="stock" id="formGroupExampleInput2" placeholder="Stock disponible" value="<%= producto.stock %>">
                </div>
                <div class="mb-3">
                    <label for="categorias" class="form-label">CATEGORIAS</label>
                    <select class="form-select" name="categoria" aria-label="select example">
                        
                        <option selected hidden value="">Selecciona una opcion</option>
                                        <% categorias.forEach(categoria => { %>
                                            <option value="<%= categoria.id %>" ><%= categoria.nombre%></option>
                                        <% }) %>
                    </select>
                </div>  
                </div>
                <div class="imagenes-sec">
                    <% producto.imagenes.forEach(img => { %>
                        <img class="secundarias" src="/images/<%= img.nombre %>" alt="Imagen secundaria" onclick="document.getElementById('imgMain').setAttribute('src','/images/<%= img.nombre %>')">
                    <% }) %>
                    
                </div>
                <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Imagenes</label>
                <input type="file" class="form-control"  name="imagen" aria-label="file example" required multiple >
                <div class="invalid-feedback">Example invalid form file feedback</div>
                </div>
                <div class="botones">
                <button class="btn btn-primary" type="submit">Confirma</button>
                <button class="btn btn-secundary" type="submit">Cancelar</button>
                </div>
            </form>
        </section>
    </main>    
</body>
</html>