<!DOCTYPE html>
<html lang="es">
 <%- include('../partials/head',{title:"Lista de productos"}) %> 
<body class="lista">

  <%- include('../partials/header') %> 
    <main >
        <h1>Lista de productos</h1>
        <a class="direct-crear" href="crear">
            <button type="button" class="btn btn-primary">Crear Producto</button>
        </a>
        <a class="direct-papelera" href="papelera">
            <button type="button" class="btn btn-primary">Productos borrados</button>
        </a>
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col">Nombre</th>
                <th scope="col">stock</th>
                <th scope="col">Precio</th>
                <th scope="col">Des</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
                <% productos.forEach(producto => { %>
                  <tr>
                      
                        <th scope="row"><a href="/productos/detalle/<%= producto.id %>"><%= producto.id %> </a></th>
                        <td><a href="/productos/detalle/<%= producto.id %>"><%= producto.marca.nombre %></a></td>
                        <td colspan="1"><a href="/productos/detalle/<%= producto.id %>"><%= producto.titulo %></a></td>
                        <td><a href="/productos/detalle/<%= producto.id %> "><%= producto.stock %></a></td>
                        <td><a href="/productos/detalle/<%= producto.id %> "><%= producto.precio %></a></td>
                        <td><a href="/productos/detalle/<%= producto.id %> "><%= producto.descuento %></a></td>
                        <td>
                            <div class="edicion">
                                <a href="/admin/editar/<%= producto.id%>">
                                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                </a>
                                <a href="/papelera">
                                <form action="borrar/<%= producto.id%>?_method=DELETE" method="post">
                                  <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                                </a>
                            </div>
                        </td>
                      
                      </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
    </main>
    <script src="/javascripts/sweetAlert.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>