<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head",{title: "Lista de usuarios"}) %>
<body class="lista">
    <%- include ("../partials/header") %> 
    <main >
        <h1>Lista de usuarios</h1>
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Email</th>
                <th scope="col">Imagen</th>
              </tr>
            </thead>
            <tbody>
                <% usuarios.forEach(usuario => { %>
                  <tr>
                      <th scope="row"><%= usuario.id %> </th>
                      <td><%= usuario.nombre %></td>
                      <td colspan="1"><%= usuario.apellido %></td>
                      <td><%= usuario.direccion %></td>
                      <td><%= usuario.telefono %></td>
                      <td><%= usuario.email %></td>
                      <td><img class="usuario" id="imgMain" src="/images/<%= usuario.imagen %>" alt="Imagen principal"></td>
                      <td>
                        <div class="edicion">
                            <a href="/">
                                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                            </a>
                            <form action="borrarUsuario/<%= usuarios.id%>?_method=delete" method="post">
                              <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>
                  </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
    </main>
  </body>
</html>