<!DOCTYPE html>
<html lang="es">
  <%- include ("../partials/head",{title: "Lista de usuarios"}) %>
  <body >
    <%- include ("../partials/header") %>
    <main class="lista">
      <h1>Lista de usuarios</h1>
      <div class="etiquetas">
        <div class="contenedor">
          <a  class="direct-crear" href="/admin/lista">Volver a la lista</a>
        </div>
  </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th id="marca2" scope="col">Apellido</th>
              <th id="marca2" scope="col">Direccion</th>
              <th id="marca2" scope="col">Telefono</th>
              <th scope="col">Email</th>
              <th scope="col">Rol</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead>
          <tbody>
            <% usuarios.forEach(usuario => { %>
            <tr>
              <th scope="row"><%= usuario.id %></th>
              <td><%= usuario.nombre %></td>
              <td id="marca2" colspan="1"><%= usuario.apellido %></td>
              <td id="marca2"><%= usuario.direccion %></td>
              <td id="marca2"><%= usuario.telefono %></td>
              <td id="marca2"><%= usuario.email %></td>
              <td><%= usuario.rolId %></td>
              <td>
                <img
                  class="usuario"
                  id="imgMain"
                  src="/images/users/<%= usuario.imagen %>"
                  alt="Imagen principal"
                />
              </td>
              <td>
                <div class="edicion">
                  <form
                    action="borrarUsuario/<%= usuario.id%>?_method=DELETE"
                    method="post"
                  >
                    <button type="submit" class="btn btn-danger">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>
    <%- include ("../partials/footer") %>
    <script src="../javascript/sweetAlert.js"></script> 
  </body>
</html>
