<!DOCTYPE html>
<html lang="es">
 <%- include('../partials/head',{title:"Lista de productos"}) %> 
<body >

  <%- include('../partials/header') %> 
    <main class="lista">
        <h1>Lista de productos</h1>
        <div  class="etiquetas">
       <div class="contenedor">
        <a  class="direct-crear" href="/admin/lista">Volver a la lista</a>
      </div>
        
    </div>
      
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th class="category" scope="col">categoria</th>
                <th id="marca" scope="col">Marca</th>
                <th scope="col">stock</th>
                <th scope="col">Precio</th>
                <th scope="col" class="desc">Des</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              
                <% productos.forEach(producto => { %>
                  <% if(producto.stock == 0) {%> 
                 
                  <tr class="producto-buscador2">
                      
                        <th scope="row"><a href="/productos/detalle/<%= producto.id %>"><%= producto.id %> </a></th>
                        <td class="titulo-nombre"><a href="/productos/detalle/<%= producto.id %>"><%= producto.titulo %></a></td>
                        <td class="category"><a href="/productos/detalle/<%= producto.id %>"><%= producto.category.nombre %></a></td>
                        <td id="marca"><a href="/productos/detalle/<%= producto.id %>"><%= producto.marca.nombre %></a></td>
                        <td><a href="/productos/detalle/<%= producto.id %> "><%= producto.stock %></a></td>
                        <td><a href="/productos/detalle/<%= producto.id %> "><%= producto.precio %></a></td>
                        <td class="desc"><a href="/productos/detalle/<%= producto.id %> "><%= producto.descuento %></a></td>
                        <td>
                            <div class="edicion">
                                <a href="/admin/editar/<%= producto.id%>">
                                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                </a>
                                <form id="formula" action="/admin/borrar/<%= producto.id%>?_method=DELETE" method="post">
                                  <button type="submit" id="eliminar-producto" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </td>
                      
                      </tr>
                      <% } %>
                <% }) %>
                
            </tbody>
          </table>
        </div>
    </main>
    <%- include ("../partials/footer") %> 
    <script src="../javascript/sweetAlert.js"></script>
    <script src="../javascript/stock.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script><!-- 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script> -->
  </body>
</html>