<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head",{title: "Detalle de producto"}) %>
<body class="detalle" >
    <%- include ("../partials/header") %> 
    <main class="detalleDeProd"    alt="Imagen principal" style="background-image:url('/images/<%= producto.imagenes[0].nombre %>')">
        <% if (producto.stock !== 0) { %>
        <section class="sectionDetail">
           
            <div class="vistas">
                <ul>
                    <li>
                        <% producto.imagenes.forEach(img => { %>
                           
                            <img class="secundarias"  src="/images/<%= img.nombre %>" alt="Imagen secundaria" onclick="document.getElementById('imgMain').setAttribute('src','/images/<%= img.nombre %>')">
                        <% }) %>
                    </li>
                </ul>
                <div class="detallado">
                    <% if (producto.descuento !== 0) { %>
                    <i class="fas fa-percentage"><%= producto.descuento %></i>
                    <% } %>
                    <img class="principal"  id="imgMain" src="/images/<%= producto.imagenes[0].nombre %>" alt="Imagen principal">
                </div>
            </div>
            <div class="detalle">
                <h4><%= producto.marca.nombre %></h4>
                <h3><%= producto.titulo %></h3>
                <section class="caja-descripcion">
                    <h2>descripcion</h2>
                    <p class="descripcion"><%= producto.descripcion %></p>
                </section>
               
                <div class="precio-descuento">
                    <h3 class="precio">$<%= producto.precio - (producto.precio * producto.descuento / 100)%></h3>
                    <% if (producto.descuento !== 0) { %>
                        <p class="descuento">$<%= producto.precio %></p>
                    <% } %>
                </div>
                
                <div class="agregar">
                    <% if (locals.userLogin) { %>
                    <button class="a-carrito" type="submit"><a href="/productos/carrito/<%= producto.id %>"> Agregar al carrito</a></button>
                    <% }else{ %>
                        <button class="a-carrito" type="submit"><a href="#"> Agregar al carrito</a></button>
                    <% } %>
                </div>
            </div>
            
        </section>
       
        <% } else{ %>
            <div class="sin-stock">
            <img src="/images/dinosaurio.png" alt="">
            <h3>Por el momento no hay stock de este producto.</h3>
        </div>
            <% } %>

        <h2 class="similares">Productos relacionados</h2>
<section class="similares">
    <ul>
        <% productos.forEach(producto => { %>
                <article>
                    <a href="/productos/detalle/<%= producto.id %>">
                    <div class="producto"  style="background-image:url('/images/<%= producto.imagenes[0].nombre %>')"></div>
                    <h4><%= producto.titulo %></h4>
                    <p>$<%= producto.precio %></p>
                    </a>
                </article>
        <% }) %>
    </ul>
</section>
       
    </main>
    <%- include ("../partials/footer") %> 
</body>
</html>