<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head",{title: "Detalle de producto"}) %>
<body class="detalle" >
    <%- include ("../partials/header") %> 
    <main class="detalleDeProd"    >
        <% if (producto.stock !== 0) { %>
        <section class="sectionDetail">
           
            <div class="vistas">
                <ul>
                    <li class="caja-secundarias">
                        <% producto.imagenes.forEach(img => { %>
                           
                            <img class="secundarias"  src="/images/<%= img.nombre %>" alt="Imagen secundaria" onclick="document.getElementById('imgMain').setAttribute('src','/images/<%= img.nombre %>')">
                        <% }) %>
                    </li>
                </ul>
                <div class="detallado">
                    <% if (producto.descuento !== 0) { %>
                    <i class="fas fa-percentage"><%= producto.descuento %></i>
                    <% } %>
                    <img class="principal"  id="imgMain" src="/images/<%= producto.imagenes[0].nombre %>" alt="Imagen principal">
                </div>
            </div>
            <div class="detalle">
                <h4 class="titulo"><%= producto.marca.nombre %></h4>
                <h3 class="marca"><%= producto.titulo %></h3>
                <section class="caja-descripcion">
                    <h2>descripcion</h2>
                    <p class="descripcion"><%= producto.descripcion %></p>
                </section>
               
                <div class="precio-descuento">
                    <h3 class="precio-detalle">$<%= producto.precio - (producto.precio * producto.descuento / 100)%></h3>
                    <% if (producto.descuento !== 0) { %>
                        <p class="descuento">$<%= producto.precio %></p>
                    <% } %>
                </div>
                
                <div class="agregar">
                    <% if (locals.userLogin) { %>
                    <button class="a-carrito" type="submit"><a href="/productos/carrito/<%= producto.id %>"> Agregar al carrito</a></button>
                    <% }else{ %>
                        <button class="a-carrito" type="submit"><a href="#"> Agregar al carrito</a></button>
                    <% } %>
                </div>
            </div>
            
        </section>
       

        
<section class="similares">
    <h2 class="similares">Productos relacionados</h2>
    
    
    <ul>
        
        <% productos.forEach(producto => { %>
            <% if (producto.stock !== 0) { %>
            <article>
                    <a  class="tarjeta-detalle" href="/productos/detalle/<%= producto.id %>">
                    <div class="producto"  style="background-image:url('/images/<%= producto.imagenes[0].nombre %>')"></div>
                    <h4 class="titulo-tarjeta"><%= producto.titulo %></h4>
                    <p class="precio-tarjeta">$<%= producto.precio %></p>
                    </a>
                </article>
                <% } %>
        <% }) %>
    </ul>
</section>
<% } else{ %>
    <div class="sin-stock">
    <img src="/images/dinosaurio.png" alt="">
    <h3>Por el momento no hay stock de este producto.</h3>
</div>
<h4 class="volver"><a class="volvera" href="/">volver al inicio</a></h4>
    <% } %>
       
    </main>
    <%- include ("../partials/footer") %> 
</body>
</html>