<!DOCTYPE html>
<html lang="en">
  <%- include ("../partials/head",{title: "Lo + Vendido "}) %>
  <body>
    <%- include ("../partials/header") %>

    <main class="loMas">
        <div class="categorias-home">
            <h3> Lo + Vendido </h3>
        </div>

        
          
        

        <section class="contenedor">
                
                <div class="filtrado">
                 
                    <ul class="list-result">

                      <% productos.forEach(producto => { %>
                        <% if (producto.stock > 0 && producto.stock <= 10) { %>
                          <li class="producto-buscador">
                            <div class="loMasV" >
                              <img src="/images/100Quality.png" alt="">
                            </div>
                            <a href="/productos/detalle/<%= producto.id %>">
                              <img class="imagen-filtrado" src="/images/<%= producto.imagenes[0].nombre %>" alt="">
                              <h4>
                                <%-producto.titulo%>
                              </h4>
                              <div class="agregar">
                                <button class="a-favorito" type="submit">Agregar a favoritos</button>
                                <% if (locals.userLogin) { %>
                                  <button class="a-carrito" type="submit" onclick="addItem('<%= producto.id %>')"><a class="etiqueta-a" href="/productos/carrito">Agregar al carrito</a></button>
                                  <% }else{ %>
                                    <button class="a-carrito" type="submit"><a href="#"> Agregar al carrito</a></button>
                                    <% } %>
                                  </div>
                              </a>
                          </li> 
                          <% } %>
                      <% }) %>
                     
                    </ul>
                </div>

        </section>
        
    </main>

    <%- include ("../partials/footer") %> 

</body>
</html>