<!DOCTYPE html>
<html lang="en">
  <%- include ("../partials/head",{title: "Detalle de producto"}) %>
  <body class="detalle">
    <%- include ("../partials/header") %>
    <main class="marcas">

      <!--   <h1>Marcas</h1> -->

      <section id="indice" class="indice">
        <a href="#" id="todos" class="category_item" category="all">
        <h2 class="brand">Todos</h2>
        </a>
        <% for(let i = 0; i < marcas.length; i++) { %>
          <a href="#" class="category_item" category="<%-marcas[i].nombre %>">
          <h2 class="brand"><%-marcas[i].nombre %></h2>
          </a>
        <% } %>
      </section>

    <section id="muestra" class="muestra">
        <% productos.forEach(producto => { %>
            <% if (producto.stock !== 0) { %>
                <a class="prueba" category=" all <%-producto.marca.nombre%>" href="/productos/detalle/<%= producto.id %>">
                <div class="producto"  style="background-image:url('/images/<%= producto.imagenes[0].nombre %>')">
                    <div class="precio-1">
                        <h3><%= producto.titulo %></h3>
                        <span >$<%= producto.precio %></span>
                    </div>
                </div>
                </a>
        <% } %>
        <% }) %>
    </section>

    </main>
    <%- include ("../partials/footer") %> 

    <script src="/javascript/marcas.js"></script>
  </body>
</html>