<!DOCTYPE html>
<html lang="en">
  <%- include ("../partials/head",{title: "Detalle de producto"}) %>
  <body class="detalle">
    <%- include ("../partials/header") %>
    <main>

        <h1>Todos los productos</h1>

        <div class="filtrado">
          <ul>
          <% productos.forEach(producto => { %>
            
              <li class="producto-buscador">
                  <a href="/productos/detalle/<%= producto.id %>">
                      <img class="imagen-filtrado" src="/images/<%= producto.imagenes[0].nombre %>" alt="">
                      <h4>
                      <%-producto.titulo%>
                      </h4>
                  </a>
              </li> 
          <% }) %>
      </ul>
      </div>

    </main>
    <%- include ("../partials/footer") %> 
  </body>
</html>