<div class="categorias-home">
    <h3 class="secciones"> Ofertas </h3>
</div>
<section class="contenedor-2">
    <ul>
        <% for( let i = 0; i <= productos.lenght; i++ ) { %>
            <% if (productos[i].descuento !== 0) { %>
            <article>
                <a href="/productos/detalle/<%= productos[i].id %>">
                <div class="producto"  style="background-image:url('/images/<%= productos[i].imagenes[0] %>')">
                    <i class="fas fa-percentage"><%= productos[i].descuento %></i>
                    <div class="precio">
                        <h3><%= productos[i].titulo %></h3>
                        <span class="precioSinDesc">$<%= productos[i].precio %></span>
                        <span>$<%= productos[i].precio - (productos[i].precio * productos[i].descuento / 100)%></span>
                    </div>
                </div>
                </a>
            </article>
            <% } %>
        <% } %>
    </ul>
</section>
<div class="categorias-home">
    <h3 class="secciones"> Surge Selection </h3>
</div>
<section class="contenedor-2">
    <ul>
        <% for( let i = 0; i <= 9; i++ ) { %>
            <article>
                <a href="/productos/detalle/<%= productos[i].id %>">
                <div class="producto"  style="background-image:url('/images/<%= productos[i].imagenes[0] %>')">
                    <div class="precio-1">
                        <h3><%= productos[i].titulo %></h3>
                        <span>$<%= productos[i].precio %></span>
                    </div>
                </div>
                </a>
            </article>
        <% } %>
    </ul>
</section>