<!DOCTYPE html>
<html lang="es">
    <%- include ("./partials/head",{title: "Detalle de producto"}) %>
<body class="detalle">
    <%- include ("./partials/header") %> 
    <main class="detalleDeProd">
        <section class="sectionDetail">
            <div class="vistas">
                <ul>
                    <li>
                        <% producto.imagenes.forEach(img => { %>
                            <img class="secundarias" src="/images/<%= img.nombre %>" alt="Imagen secundaria" onclick="document.getElementById('imgMain').setAttribute('src','/images/<%= img.nombre %>')">
                        <% }) %>
                    </li>
                </ul>
                <div class="detallado">
                    <% if (producto.descuento !== 0) { %>
                    <i class="fas fa-percentage"><%= producto.descuento %></i>
                    <% } %>
                    <img class="principal" id="imgMain" src="/images/<%= producto.imagenes[0].nombre %>" alt="Imagen principal">
                </div>
            </div>
            <div class="detalle">
                <h2><%= producto.marca.nombre %></h2>
                <h1><%= producto.titulo %></h1>
                <br>
                <span> <i class="fas fa-award"></i> Garantia oficial</span>
                <span> <i class="fas fa-money-check"></i> Compra en 3, 6, 12 y 18 cuotas sin interes</span>
                <span> <i class="fa-solid fa-truck-fast"></i> Envios gratis desde 10.000</span>
                <div class="precio-descuento">
                    <h3 class="precio">$<%= producto.precio - (producto.precio * producto.descuento / 100)%></h3>
                    <% if (producto.descuento !== 0) { %>
                        <p class="descuento">$<%= producto.precio %></p>
                    <% } %>
                </div>
                <div class="botones">
                    <button class="restar">-</button>
                    <input class="cantidad" type="number">
                    <button class="sumar">+</button>
                </div>
                <div class="agregar">
                    <button class="a-favorito" type="submit">Agregar a favoritos</button>
                    <button class="a-carrito" type="submit"><a href="/productos/carrito/<%= producto.id %>"> Agregar al carrito</a></button>
                </div>
            </div>
        </section>
        <section class="descripcion">
            <h2>descripcion</h2>
            <p class="descripcion"><%= producto.descripcion %></p>
        </section>
       
    </main>
    <%- include ("./partials/footer") %> 
</body>
</html>