<!DOCTYPE html>
<html lang="es">
    <%- include ("./partials/head",{title: "editarPerfil"}) %>
<body class="register">
    <main>
        <section class="container-register">
            <h1>Edicion de Perfil</h1>
            <p>Completa el registro con lo solicitado<br>para tener la mejor experiencia en Sound<br>Surge.</p>

            <form action="/users/editar/<%=usuario.id%>?_method=put" method="post" enctype="multipart/form-data" id="formulario" >

                <div class="icons">
                    <label for="file"><div id="preview" class="styleImage"><i class="fas fa-user-edit"></i></div></i></label>
                    <label for="file" id="iconUser"><img src="/images/users/<%=`${usuario.imagen}`%>" alt=""></i></label>
                    <input type="file" name="imagen" id="file"> 
                </div> 

               
            <div class="container">
                <label for="nombre">nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" value="<%=`${usuario.nombre}`%>">
            </div>

            <div class="container">
                <label for="apellido">apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido" value="<%=`${usuario.apellido}`%>">
            </div>

            <div class="container">
                <label for="direccion">direccion</label>
                <input type="text" name="direccion" id="direccion" placeholder="Ingresa tu direccion" value="<%=`${usuario.direccion}`%>">
            </div>

            <div class="container">
                <label for="telefono">telefono</label>
                <input type="text" name="telefono" id="telefono" placeholder="Ingresa tu telefono" value="<%=`${usuario.telefono}`%>">
                <div id="phoneContainer"></div>
            </div>

            <div class="container">
                <label for="email">email</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email" value="<%=`${usuario.email}`%>" disabled>
            </div>

             
            <div>
            
            <button type="submit" class="enviar">Enviar</button>
            
        </form>
        <div class="foot-reg">
            <a href="/">Soporte</a>
            <a href="/">Home</a>
            <a href="/">Contacto</a>
        </div>
    </section>                  
    </main>
    
    <script src="/javascript/editarU.js"></script>
</body>
</html>