<!DOCTYPE html>
<html lang="es">
    <%- include ("./partials/head",{title: "SoundSurge"}) %>
<body class="home">
    <%- include ("./partials/header") %> 
    <main>
        <!-- <div class="carrousel">
            <ul>
                <div class="img-carrousel" id="item-1">
                    <img src="/images/Audiomusica-Jockey-Plaza1.jpg" alt="Casa 1">
                </div>
                <div class="img-carrousel" id="item-2">
                    <img src="/images/gc-md-hf-big-bang-2-07-13-22.jpg" alt="">
                </div> 
                <div class="img-carrousel" id="item-3">
                    <img src="/images/giphy.gif" alt="Reci">
                </div>
                <div class="img-carrousel" id="item-4">
                    <img src="/images/sweetwater2-1024x571.jpg" alt="Casa 2">
                </div> 
            </ul>     
        </div> -->
        
            <div class="categorias-home">
                <h3 class="secciones"> Novedades </h3>
            </div>
            <section class="contenedor">
                <ul>
                    <% for( let i = 0; i <= 7; i++ ) { %>
                        <article>
                            <a href="/productos/detalle/<%= productos[i].id %>">
                            <div class="producto"  style="background-image:url('/images/<%= productos[i].imagenes[0].nombre %>')">
                                <div class="precio-1">
                                    <h3><%= productos[i].titulo %></h3>
                                    <span >$<%= productos[i].precio %></span>
                                </div>
                            </div>
                            </a>
                        </article>
                    <% } %>
                </ul>
            </section>

            <div class="banner-medio">
                <img src="/images/gc-md-hf-big-bang-2-07-13-22.jpg" alt=""> 
            </div>

            
            <div class="categorias-home">
                <h3 class="secciones"> Ofertas </h3>
            </div>
            <section class="contenedor">
                <ul>
                    <% for( let i = 0; i <= 4; i++ ) { %>
                        <% if (productos[i].descuento !== 0) { %>
                        <article>
                            <a href="/productos/detalle/<%= productos[i].id %>">
                            <div class="producto"  style="background-image:url('/images/<%= productos[i].imagenes[0].nombre %>')">
                                <i class="fas fa-percentage"><%= productos[i].descuento %></i>
                                <div class="precio">
                                    <h3><%= productos[i].titulo %></h3>
                                    <span class="precioSinDesc">$<%= productos[i].precio %></span>
                                    <span>$<%= productos[i].precio - (productos[i].precio * productos[i].descuento / 100)%></span>
                                </div>
                            </div>
                            </a>
                        </article>
                        <% } %>
                    <% } %>
                </ul>
            </section>

            

            <div class="categorias-home">
                <h3 class="secciones"> Surge Selection </h3>
            </div>
            <section class="contenedor-2">
                <ul>
                    <% for( let i = 0; i <= 3; i++ ) { %>
                        <article>
                            <a href="/productos/detalle/<%= productos[i].id %>">
                            <div class="producto"  style="background-image:url('/images/<%= productos[i].imagenes[0].nombre %>')">
                                <div class="precio-1">
                                    <h3><%= productos[i].titulo %></h3>
                                    <span>$<%= productos[i].precio %></span>
                                </div>
                            </div>
                            </a>
                        </article>
                    <% } %>
                </ul>
            </section>
                
        <section class="spots">
            <div class="video-1">
                <iframe class="spot-1" src="https://www.youtube.com/embed/qfGggAGITwg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-2">
                <iframe class="spot-2" src="https://www.youtube.com/embed/Mi2iIqzdSD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>
    </main>

    
    <%- include ("./partials/footer") %> 
    
</body>
</html>

