<!DOCTYPE html>
<html lang="es">
    <%- include ("./partials/head",{title: locals.userLogin.nombre}) %>
<body>
    <%- include ("./partials/header") %> 
    <main>
        <img src="/images/users/<%= locals.userLogin.imagen %> " alt="">
        <h1>Hola <%= `${locals.userLogin.rol} ${locals.userLogin.nombre}` %></h1>
        
        <form class="exit" action="/users/logout?_method=DELETE" method="post">
            <button class="logout" type="submit">Cerrar Sesion</button>
        </form>
    </main>
    <%- include ("./partials/footer") %> 
</body>
</html>