<!DOCTYPE html>
<html lang="es">
    <%- include ("./partials/head",{title: locals.userLogin.nombre}) %>
<body>
    <%- include ("./partials/header") %> 
    <main class="perfil">
        <div class="credencial">
            <img src="/images/users/<%= locals.userLogin.imagen %> " alt="">
            <h2>Hola <%= `${locals.userLogin.nombre}` %></h2>
            <% if (locals.userLogin && locals.userLogin.rol === 1 ) { %>
                <h1><%= `Admin` %></h1>
                <h2>All Access</h2>
            <% } else { %>
                <h1><%= "Invitado" %></h1>
            <% } %>
            
            <div class="logo">
                <img src="/images/LogoSoundSurge.png" alt="logoSoundSurge">
            </div>
        </div>
        <form class="exit" action="/users/logout?_method=DELETE" method="post">
            <button class="logout" type="submit">Cerrar Sesion</button>
        </form>

        <form class="exit" action="/users/eliminarUsuario/<%= locals.userLogin.id%>?_method=DELETE" method="post">
            <button class="logout" type="submit">eliminar</button>
        </form>

        
        <a href="/users/editar/<%= locals.userLogin.id%>">
            <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
        </a>
    </main>
    <%- include ("./partials/footer") %> 
</body>
</html>