<!DOCTYPE html>
<html lang="es">
    <%- include ("./partials/head",{title: "Registro"}) %>
<body class="register">
    <main>
        <section class="container-register">
            <h1>Registro</h1>
            <p>Completa el registro con lo solicitado<br>para tener la mejor experiencia en Sound<br>Surge.</p>
        <form action="/users/register" method="post" enctype="multipart/form-data" id="formulario">
            <div class="icons">
                <label class="selectImg" for="perfil-img">  
                    <div class="imgHover">
                        <h1>Aqui tendria que ir una imagen</h1> <!-- Provisorio hasta aplicar imagen dinamica -->
                        <p class="text-center">Selecione su imagen de perfil</p>
                    </div>
                </label>
                <div class="form-admin__box inactivo">
                    <input class="d-none" id="perfil-img" type="file" name="imagen" placeholder="Imagen del Producto" accept="imagen/*">
                </div>
                <!-- <div id="imageContainer"></div> -->
            </div>
            <div class="container">
                <label for="nombre">nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" value="<%= locals.old && old.nombre ? old.nombre : null%>">
                <div id="nombreContainer"></div>
                <% if (locals.errors && errors.nombre) { %>
                    <small><%= errors.nombre.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="apellido">apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido"value="<%= locals.old && old.apellido ? old.apellido : null%>">
                <div id="apellidoContainer"></div>
                <% if (locals.errors && errors.apellido) { %>
                    <small><%= errors.apellido.msg %></small>
                <% } %>
            </div>
    
            <div class="container">
                <label for="email">email</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email"value="<%= locals.old && old.email ? old.email : null%>">
                <div id="emailContainer"></div>
                <% if (locals.errors && errors.email) { %>
                    <small><%= errors.email.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="contrasenia">contrasenia</label>
                <input type="password" name="contrasenia" id="clave" placeholder="Ingresa tu contraseña">
                <div id="passContainer"></div>
                <% if (locals.errors && errors.contrasenia) { %>
                    <small><%= errors.contrasenia.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="confirmar">Confirmar contraseña</label>
                <input type="password" name="confirmar" id="confirmar" placeholder="Confirma tu contraseña">
                <div id="passContainer2"></div>
                <% if (locals.errors && errors.confirmar) { %>
                    <small><%= errors.confirmar.msg %></small>
                <% } %>
            </div>
           

            <div class="terminos">
                <input type="checkbox" name="terminos" id="terminos">
                <div id="terminosContainer"></div>
                <% if (locals.errors && errors.terminos) { %>
                    <small><%= errors.terminos.msg %></small>
                <% } %>
                <label for="terminos">Acepto los terminos y condiciones</label>
            </div>
            
            <button type="submit" class="enviar">Enviar</button>
            
        <h4>--------------- Registrarse con -----------------</h4>
            <button type="submit" class="facebook"><i class="fab fa-facebook"></i> Registrarte con Facebook</button>
            
        
            <button type="submit" class="google"><i class="fab fa-google"></i> Registrarte con Google</button>

        </form>
        <div class="foot-reg">
            <a href="/">Soporte</a>
            <a href="/">Home</a>
            <a href="/">Contacto</a>
        </div>
    </section>                  
    </main>
    <script src="/javascript/register.js"></script>
</body>
</html>